
* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    overflow: hidden;
}

.background{
    background: linear-gradient(247.1deg, #2492F3 0%, #826EC6 100%);
    position: fixed;
    z-index: -100;
    top: 0;
    height: 110%;
    width: 100%;
    left: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    width: 50%;
}

.login-container {
    width: 50%;

}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 1em;
    background: rgba(250, 255, 0, 0.17);
    mix-blend-mode: normal;
    border-radius: 40px;
}

.btn-login {
    background: #A8C6FC;
    border-radius: 20px;
    width: 55%;
    border: 1px solid #000000;
    color: black;
    margin: 2em;
    line-height: 3.5em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-login:hover {
    background: #BCD2FA;
}

.btn-login:active {
    background: #A8C6FC;
}

.login-form > input {
    background: white;
    border: 1px solid #000000;
    padding: 1em;
    margin: 1em;
    width: 50%;
    border-radius: 20px;
}

.register-link{
    text-decoration: none;
    color: darkmagenta;
}


.sidebar{
    display: none;
}
.menu-open{
    display: none;
}

.search-bar {
    display: flex;
    width: 40%;
    justify-content: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
.navbar-left{
    width: 60%;
}

.navbar-left ul {
    list-style: none;
    display: flex;
    margin: 1em;
    padding: 0;
    justify-content: space-around;

}

.navbar-left > li {
    margin-right: 2em;
}

.nav-button {
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em 1em;
    background: white;
    color: black;
    white-space: nowrap;
}



#bar{
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 10px;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    box-sizing: border-box;
    width: 50%;
    background: #FFFFFF url("../img/search.svg") no-repeat 1em ;
    background-size: 2em;
    padding: 1em;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#bar:focus {
    width: 100%;
}

.option{
    border:none;
    background: transparent;
    display: flex;
    color: white;
    font-size: 25px;

}
.options{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 2em;
}

.no-valid{
    border:3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.social-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.heart-button{
    border: none;
    background: transparent;
    color:cornflowerblue;
    display: flex;
    flex-direction: row;
}
.broken-heart-button{
    border: none;
    background: transparent;
    color:cornflowerblue;
    display: flex;
    flex-direction: row;
}

.user{
    background: transparent;
    color:white;
    padding: 1em;
    border: none;
}

.profile-buttons>form>button{
    background:transparent;
    color:white;
    padding: 1em;
    border: none;
}

.profile-buttons{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.category-list{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.category-list >a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.category-list a:hover {background-color: #f1f1f1}

.dropdown:hover .category-list{
    display: block;
}



@media only screen and (max-device-width: 768px){
    .sidebar{
        display: block;
        height:100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(65, 123, 234, 0.5);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidebar ul{
        list-style: none;
        padding: 1em;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidebar a:hover {
        color: #f1f1f1;
    }

    .sidebar .close-button  {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .menu-open {
        display: block;
        font-size: 20px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        padding: 10px 15px;
        border: none;

    }

    .menu-open:hover {
        background-color: #444;
    }
    .navbar-left{
        display: none;
    }

    .search-bar{
        width: 70%;
    }

    #bar{
        width: 80%;
    }

    .container {
        flex-direction: column;
    }

    * {
        font-size: 36px;
    }

    .login-container, .logo {
        width: 100%;
    }
    .login-container{
        margin:1em;
    }
    form {
        margin: auto;
    }

    img {
        height: 14em;
        margin: 2em;
    }
}
